mixin createProject(project = {})

    form.agregar-proyecto(action=`${project.id ? `/project/edit/${project.id}` : '/new-project'}` method="post")
                .campo
                    label(for="nombre") Nombre Proyecto
                    input(value=project.nombre type="text" id="nombre" name="nombre" placeholder="Nombre del proyecto")
                .campo.enviar
                    input.boton(type="submit" value=`${project.nombre ? 'Guardar' : 'Agregar'}`)